.offer-text {
  font-size: 12px;
  margin: 10px 10px 30px; }
  .offer-text h1 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
    width: auto; }
  .offer-text #number-of-offers {
    color: #333333;
    display: inline-block;
    float: right;
    font-size: 18px; }

.offer-main-box {
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 5px 3px #eaf4d3;
  margin-bottom: 2%;
  display: inline-block;
  position: relative;
  width: 100%; }
  .offer-main-box .offer-nature {
    background-image: url("../images/offers/new-offer.jpg");
    background-repeat: no-repeat;
    height: 44px;
    left: 10px;
    position: absolute;
    top: -9px;
    width: 66px; }
  .offer-main-box .offer-heading {
    padding-left: 22px;
    padding-top: 40px;
    text-align: left; }
    .offer-main-box .offer-heading h2 {
      padding-bottom: 15px;
      padding-top: 15px; }
    .offer-main-box .offer-heading .offer-btn {
      background-color: #be324c;
      border-radius: 3px;
      border-style: none;
      color: #fff;
      cursor: pointer;
      font-family: "Arial";
      font-size: 18px;
      height: 40px;
      margin-bottom: 15px;
      outline: medium none;
      width: 315px; }
    .offer-main-box .offer-heading .offer-description {
      color: #737373; }
      .offer-main-box .offer-heading .offer-description ul {
        line-height: 20px;
        padding: 0 0 0 10px; }
        .offer-main-box .offer-heading .offer-description ul li {
          font-size: 14px;
          font-weight: normal;
          list-style-type: disc; }
    .offer-main-box .offer-heading .offer-bottom .offer-expiry {
      color: #707070;
      font-size: 14px;
      padding: 16px 0 20px 20px; }
      .offer-main-box .offer-heading .offer-bottom .offer-expiry span {
        vertical-align: super; }

/*
#singup-offer-hd {
    color: #d0d0d0;
    font-family: "Arial";
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 0;
}
.offer-singup {
    border-style: none;
    height: 30px;
    outline: medium none;
    padding: 0 10px;
    width: 345px;
}
.offer-button {
    background-image: url("../images/offers/offer-singup.jpg");
    background-repeat: no-repeat;
    border-style: none;
    cursor: pointer;
    height: 31px;
    width: 97px;
}
#singup-box {
    background-image: url("../images/offers/strips-june.jpg");
    background-repeat: repeat;
    border: 1px dashed #01a89e;
    clear: both;
    float: left;
    height: 82px;
    margin-top: 10px;
    padding: 14px 0;
    width: 100%;
}
#offer-singup-main-box table {
    margin: 0 0 0 10px;
}
#offer-singup-main-box table tbody {
    border: medium none;
}
#offer-singup-main-box table tbody tr td, #offer-singup-main-box table tbody tr th {
    border: medium none;
    text-align: center;
}
#offer-singup-main-box table tbody tr td table {
    margin: 0;
}
.offer-code-button div {
    height: 30px;
    padding: 8px 0 0;
    text-align: center;
}
#singup-box tr td p {
    margin: 0 0 7px;
}
#singup-box .simplenews-subscribe .form-item {
    float: left;
    margin: 0;
}
#singup-box .simplenews-subscribe .form-item label span.form-required {
    display: none;
}
#singup-box .simplenews-subscribe .form-item input {
    border-style: none;
    color: #ccc;
    height: 30px;
    outline: medium none;
    padding: 0 10px;
    width: 345px;
}
#singup-box .simplenews-subscribe input.form-submit {
    background: #01a89e none repeat scroll 0 0;
    border-radius: 0;
    border-style: none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-weight: bold;
    height: 31px;
    margin: 0;
    text-transform: uppercase;
    width: 95px;
}
#offer_ajax-message .messages {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    float: left;
    margin: 5px 0 0;
    padding: 0;
}
#singup-box .simplenews-subscribe input.progress-disabled {
    background: #c3c3c3 none repeat scroll 0 0;
}
#offer_ajax-message {
    clear: both;
    float: left;
}
.ajax-progress {
    display: block;
}
.ajax-progress-throbber {
    float: right;
    margin-right: 25px;
}
.social-share-offer span {
    float: left;
    margin-top: 20px;
}
.social-share-offer ul {
    float: right;
    margin: 10px 0 20px;
    padding: 0 0 0 10px;
}
.social-share-offer ul li {
    float: left;
    list-style: outside none none;
}
.social-share-offer ul li a.facebook {
    background: rgba(0, 0, 0, 0) url("../images/offers/icons.png") no-repeat scroll 0 0;
}
.social-share-offer ul li a {
    display: block;
    height: 30px;
    margin-right: 5px;
    width: 27px;
}
.social-share-offer ul li a.twitter {
    background: rgba(0, 0, 0, 0) url("../images/offers/icons.png") no-repeat scroll -31px 0;
}
.social-share-offer ul li a.googleplus {
    background: rgba(0, 0, 0, 0) url("../images/offers/icons.png") no-repeat scroll -61px 0;
    margin-right: 0;
}
.social-share-offer ul li a.facebook:hover {
    background: rgba(0, 0, 0, 0) url("../images/offers/social-icons.png") no-repeat scroll -1px 3px;
}
.social-share-offer ul li a.twitter:hover {
    background: rgba(0, 0, 0, 0) url("../images/offers/social-icons.png") no-repeat scroll -32px 3px;
}
.social-share-offer ul li a.googleplus:hover {
    background: rgba(0, 0, 0, 0) url("../images/offers/social-icons.png") no-repeat scroll -62px 3px;
}
#downloadTC {
    color: blue;
}
.simpleNewsWrapper {
    float: left;
    margin-left: 10px;
}
.simpleNewsWrapper p {
    color: rgb(0, 169, 157);
    font-size: 17px;
    margin: 0 0 10px;
}
.news-image {
    border-left: 1px solid #a8d0b7;
    float: left;
    height: 70px;
    margin: 5px 0 0 100px;
}
.news-image img {
    margin: 13px 0 0 15px;
}
.new-msg {
    color: #737373;
    float: right;
    font-size: 14px;
    margin: 25px 0 0;
    width: 370px;
}
.simpleNewsWrapper .ajax-progress-throbber {
    clear: both;
    float: left;
    margin: 0;
}
@media (min-width: 300px) and (max-width: 600px) {
.offer-text {
    float: left;
    margin: 0;
}
.offer-text h1 {
    font-size: 14px;
    text-align: left;
}
#number-of-offers {
    margin-bottom: 10px;
}
.offer-heading h2 {
    font-size: 18px;
    text-align: left;
}
.offer-text p, .offer-description p {
    text-align: left;
}
.offer-heading {
    padding-left: 10px;
    text-align: left;
}
.offer-code-button {
    margin: 20px 0;
}
.offer-description ul {
    text-align: left;
}
.offer-expiry strong {
    font-weight: bold;
}
.social-share-offer ul li {
    list-style: outside none none;
}
#offer-singup-main-box {
    width: 100%;
}
#singup-offer-hd {
    font-size: 20px;
    text-align: left;
}
#singup-box {
    height: auto;
    width: 100%;
}
.offer-btn {
    width: 275px;
}
.simpleNewsWrapper {
    width: 283px;
}
#singup-box .simplenews-subscribe .form-item input {
    width: 277px;
}
.news-image img {
    margin: 13px 0 0 10px;
}
.news-image {
    border-left: medium none;
    clear: both;
    float: left;
    height: auto;
    margin: 5px 0 0;
}
.new-msg {
    float: left;
    margin: 15px 0 0 10px;
    width: 230px;
}
#singup-box .simplenews-subscribe input.form-submit {
    float: left;
    margin: 10px 0 0;
}
.simpleNewsWrapper .ajax-progress-throbber {
    clear: both;
    float: left;
}
#singup-box .simplenews-subscribe input.progress-disabled {
    background: #c3c3c3 none repeat scroll 0 0;
    float: left;
    margin: 10px 0 0;
    width: 97px;
}
}
@media (min-width: 610px) and (max-width: 980px) {
.offer-text {
    float: left;
    margin: 0;
}
.offer-text h1 {
    font-size: 14px;
    text-align: left;
}
#number-of-offers {
    margin-bottom: 10px;
}
.offer-heading h2 {
    font-size: 18px;
    text-align: left;
}
.offer-text p, .offer-description p {
    text-align: left;
}
.offer-heading {
    padding-left: 10px;
    text-align: left;
}
.offer-code-button {
    margin: 20px 0;
}
.offer-description ul {
    text-align: left;
}
.offer-expiry strong {
    font-weight: bold;
}
.social-share-offer ul li {
    list-style: outside none none;
}
#offer-singup-main-box {
    width: 100%;
}
#singup-offer-hd {
    font-size: 20px;
    text-align: left;
}
#singup-box {
    height: auto;
    width: 100%;
}
.offer-btn {
    width: 275px;
}
#singup-box .simplenews-subscribe input.form-submit {
    margin: 12px 0 0;
}
.news-image {
    border-left: medium none;
    clear: both;
    float: left;
    height: 70px;
    margin: 0;
}
.new-msg {
    float: left;
    margin: 21px 0 0 10px;
    width: auto;
}
}

*/

/*# sourceMappingURL=offers.css.map */
