.valentine-menu {
    background-color: $bg-white;
    border-bottom: 1px solid $bdr-gray-c1;
    border-top: 1px solid $bdr-gray-c1;
    height: 35px;
    width: 100%;
    text-align: center;

    .region-primarymenus {
      @include box(1000px, 35px, block);
      list-style: outside none none;
      margin: 0 auto;
    }

  .tb-megamenu {
    background-color: $bg-white;
  }

.sf-menu.sf-style-default {
    display: inline-block;
    margin: 0 auto;
    float: none;
    padding: 0 10px;
    width: 1000px;

    li {background-color: #ffffff; line-height: 25px;

      &:hover { background-color:#fff; }

      a, span { border: medium none;
                color: #464646;
                display: inline-block;
                font-size: 16px;
                margin-right: 5px;
                padding: 5px 20px;

              &:hover {
                border-bottom-color: $bg-pink;
                border-bottom-style: solid;
                border-bottom-width: 3px;
                color: $bg-pink;
                background-color: #ffffff !important;
                transition-duration: 600ms;
                transition-property: color;
                transition-timing-function: ease-in-out;
                padding: 5px 20px;
              }
      }

    }
}



  .tb-megamenu-nav {
    
    li {
      border: medium none;
      display: block;
      float: left;
      padding: 8px 12px 5px;
      margin-bottom: -2px;
      text-align: center;
      margin-right: 15px;

      &:hover {
        border-bottom-color: $bg-pink;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        color: $bg-pink;
        transition-duration: 600ms;
        transition-property: color;
        transition-timing-function: ease-in-out;
        padding: 8px 12px 4px;
      }

      &:hover .caret {
        background-position: -15px -18px;
      }

      a {
        border: medium none;
        color: $txt-grey-57;
        display: block;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
      }

      .mega-dropdown-menu {
        margin: 5px 0 0;
        min-width: 140px;
        border-bottom: 3px solid #f05972;
        border-left: medium none;
        border-right: medium none;
        padding: 0 0 0 10px;
      }


      .dropdown-menu {
        .tb-megamenu-column {
          .mega-inner {

            ul {
              list-style: outside none none;
              margin: 10px 0 12px;
              padding: 0;

              li {
                  float: none;
                  font-size: 12px;
                  margin: 0;
                  padding: 0;
                  text-align: left;
                  font-family: Arial,Helvetica,sans-serif;

                  a {
                    background: none repeat scroll 0 0;
                    font-family: Arial,Helvetica,sans-serif;
                    color: #575757;
                    display: block;
                    font-size: 13px;
                    line-height: 23px;
                    text-decoration: none;
                    font-weight: normal;
                    padding: 0px;
                    text-transform: capitalize;

                    &:hover {
                      color: #f05972;
                    }
                  }
              }
            }
          }
        }
      }



    }/* li.level-1 ends here */
  }/* tb-megamenu-nav end here */

  .tb-megamenu .nav > .active > a,
  .tb-megamenu .nav > .active > a:hover,
  .tb-megamenu .nav > .active > a:focus,
  .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
  .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
  .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background: none;
    color: $txt-grey-57;
  }


  .tb-megamenu  {
    .caret {
      @include icon-inblock(12px, 8px, 0 -18px);
      background-image: url($image-path);
      border: medium none !important;
      margin-top: 7px !important;

      &:hover {
        background-position: -15px -18px;
      }
    }
  }
}/* main menu end here */



.flowercitymenu {
    padding-left: 10px;
}

.flowercitymenu a.mega-group-title, .cakecitymenu a.mega-group-title {
    display: inline-block !important;
}

.main-menu .tb-megamenu-nav li.level-1 a.mega-group-title {
    border-bottom: 1px solid #dedbd8;
    color: #575757 !important;
    font-size: 15px !important;
    margin: 7px 0 14px !important;
    padding-bottom: 7px !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: normal !important;
}

.main-menu .tb-megamenu-nav li.mega-align-justify .dropdown-menu {
    width: 830px !important;
    padding: 0 10px;
}

.main-menu .tb-megamenu-nav li.mega-align-justify .tb-megamenu-submenu .mega-group-ct {
    margin: 0;
}

.main-menu .tb-megamenu-nav li.level-1 .dropdown-menu .tb-megamenu-column .mega-group-ct .mega-inner ul {
    margin: 0;
}

.main-menu .tb-megamenu-nav li.level-1 .dropdown-menu .tb-megamenu-column .mega-inner ul li.all_menu_link a {
    color: #f05972;
    font-weight: bold;
}

.main-menu .tb-megamenu-nav li.level-1 .dropdown-menu .tb-megamenu-column .mega-inner ul li.all_menu_link a:hover {
    color: #f05972;
    font-weight: bold;
}

.main-menu .tb-megamenu-nav li.level-1 .dropdown-menu .tb-megamenu-column .mega-inner ul li.menu-flower-group a.mega-group-title {
    cursor: default;
    width: 90%;
}

.tb-megamenu .valentine-active {
    background: url(https://d24pyncn3hxs0c.cloudfront.net/sites/all/themes/facd7/images/vday/red-heart.png) no-repeat scroll right center !important;
    color: #be324c;
    padding: 8px 20px 7px 5px !important;
    border-bottom: 3px solid #be324c !important;
    color: #f05972;
}

.tb-megamenu .valentine-active:hover {
    padding: 8px 20px 7px 5px !important;
}

.tb-megamenu .valentine-active a {
    color: #be324c !important;
}

.tb-megamenu .valentine-active a:focus, .tb-megamenu .valentine-active a:hover {
    background: none !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .main-menu .tb-megamenu-nav li.mega-align-justify .tb-megamenu-submenu {
        margin: 13px 0 0;
    }

    .pagerright .item-list ul.pager li.pager-next a {
        margin-top: 0px !important;
    }
}


.main-menu ul li a[title="Express Rakhi"] {
    color: #b20000 !important;
}

